@model EventFinder_GC.Models.EventApi

@{
    ViewBag.Title = "Details";
}

<div>

    <h4>Customer</h4>
    <hr />
    <dl class=" = dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.EventName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VenueName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VenueName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubCategory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Street)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Street)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZipCode)
        </dd>
    </dl>

    <img src=@Html.Raw(Model.ImagePath)>
</div>

@Html.ActionLink("Rate Event Via Our SMS Feature!", "RedirectSMSRate")








<h2>Event Host and Rating</h2>
<h2>Event Host: @ViewBag.EventHostName</h2>
<h2>Host Rating For This Category: @ViewBag.HostRatingByCategory</h2>


<div id="map"></div>
<script>
    function initMap() {
        var directionsService = new google.maps.DirectionsService();
        var directionsRenderer = new google.maps.DirectionsRenderer();
        var location = { lat: @Model.Latitude, lng: @Model.Longitude};
        var map = new google.maps.Map(document.getElementById('map'), { zoom: 12, center: location });
        var marker = new google.maps.Marker({ position: location, map: map });
    }
</script>
<script async defer src=@ViewBag.Key></script>

<p>@Html.ActionLink("Back to Events List", "Index")</p>

