@model IEnumerable<EventFinder_GC.Models.Customer>

@{
    ViewBag.Title = "Index";
    //<img src=${event.ImageURL}>
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Address.Street)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApplicationUser.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Address.Street)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUser.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CustomerId }) |
                @Html.ActionLink("Details", "Details", new { id = item.CustomerId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CustomerId })
            </td>
        </tr>
    }
</table>


<h2>Events List:</h2>
<ul id="events"></ul>

<button onclick="GetButtonNoParams()" id="Get">Get</button>

@section Scripts
{
    <script type="text/javascript">

        var $eventsList = $('#events');

        function addEvent(event) {
            $eventsList.append(`<li id = ${event.EventId}><strong>Event Name</strong>: ${event.EventName}
                                                      <br><strong>Venue Name</strong>: ${event.VenueName}
                                                      <br><strong>Date</strong>: ${event.Date}
                                                      <br><strong>Category</strong>: ${event.Category}
                                                      <br><strong>SubCategory</strong>: ${event.SubCategory}
                                                      <br><strong>Street</strong>: ${event.Street}
                                                      <br><strong>City</strong>: ${event.City}
                                                      <br><strong>State</strong>: ${event.State}
                                                      <br><strong>ZipCode</strong>: ${event.ZipCode}

                           </li><br> `);


        }

        function GetButtonNoParams() {
            $(function () {
                $.ajax({
                    type: 'GET',
                    url: 'https://localhost:44355/api/Events',
                    success: function (events) {
                        $.each(events, function (i, event) { //goes through array of data and manipulates each item

                            addEvent(event);
                        });
                    },
                    error: function () {
                        alert('error loading events');
                    }
                });
            });
        }

    </script>
}